{% if include.profile_image %}
  {% assign img_path = include.profile_image | prepend: 'assets/img/' %}
  {% if site.imagemagick.enabled %}
    {% comment %}
      Remove image extensions, lower and uppper case
    {% endcomment %}

    {% assign img_path_noext = img_path %}
    {% assign img_path_noext1 = img_path_noext %}
    {% assign img_path_parts = img_path | split: "." %}
    {% if img_path_parts.size > 1 %}
      {% assign this_ext = img_path_parts | last | downcase %}
      {% capture this_ext %}.{{ this_ext }}{% endcapture %}
      {% for ext in site.imagemagick.input_formats %}
        {% if this_ext == ext %}
          {% assign array_end = img_path_parts.size | minus: 1 %}
          {% assign img_path_noext = img_path_parts | slice: 0, array_end | join: "." %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% assign smallest_width = site.imagemagick.widths | first %}
    {% capture img_path %}{{ img_path_noext }}-{{ smallest_width }}.webp{% endcapture %}
  {% endif %}
{% endif %}

<div class="card w-75 mt-2">
  <div class="card-body p-1 mt-0 ml-1">
    <div class="row no-gutters">
      <div class="col-sm-9">
        <a href="{{ include.url | relative_url }}">
          <div class="mb-2">
            <h5 class="card-title mb-0">
              {{ include.first_name }} {{ include.last_name }}
            </h5>
            <p class="card-text job-title"></p>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        {% if include.profile_image %}
        <a href="{{ bio.url | relative_url }}">
          <img
            src="{{ img_path | relative_url }}"
            class="card-img"
            width=128
          />
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
